<!DOCTYPE html>
<html>
<head>
    <title>BG - Puntos de Atención </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--RESET CSS-->
    <link href="~/Content/css/reset.min.css" rel="stylesheet" />
    <!--MATERIALIZE-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="~/Content/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <!--CUSTOM CSS-->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <!--MAP-->
    <link href="~/Content/css/leaflet.css" rel="stylesheet" />
    <!--FONT AWESOME ICONS-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/5b1c5b69fb.js"></script>
    <link rel="icon"
          type="image/png"
          href="~/Content/img/bg/favicon.png">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TZXNS54');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZXNS54"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @RenderBody()

    <environment include="Staging,Production">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
        <script src="~/Content/js/leaflet.js"></script>
        <script src="~/Content/js/leaflet-knn.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
        <script src="~/Content/js/leaflet.js"></script>
        <script src="~/Content/js/leaflet-knn.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>


