<!DOCTYPE html>
<html>
<head>
    <title>BG - Bancos del Barrio </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--RESET CSS-->
    <link href="~/Content/css/reset.min.css" rel="stylesheet" />
    <!--MATERIALIZE-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="~/Content/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <!--CUSTOM CSS-->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <!--MAP-->
    <link href="~/Content/css/leaflet.css" rel="stylesheet" />
    <!--FONT AWESOME ICONS-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/5b1c5b69fb.js"></script>
    <link rel="icon"
          type="image/png"
        href="~/Content/img/bg/favicon.png">
</head>
<body>    
    @RenderBody()

    <environment include="Staging,Production">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
        <script src="~/Content/js/leaflet.js"></script>
        <script src="~/Content/js/leaflet-knn.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
        <script src="~/Content/js/leaflet.js"></script>
        <script src="~/Content/js/leaflet-knn.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>


