
@{
    ViewBag.Title = "Index";
}

<div id="contentRequestPermisson" class="dialogModal">
    <a id="requestPermisson" class="waves-effect waves-light btn" style="background-color:#007ACC">VER BANCOS DEL BARRIO</a>
</div>

<nav class="navPage">
    <i id="openAllSites" class="material-icons">menu</i>
    <!--
    <img src="~/Content/img/mardis.png" class="iconHeader" />
        -->
    <div id="getNearest" class="getNearest" style="display:flex; flex-direction:row; align-content:center; align-items:center; justify-content:space-around">
        <b class="nearestText">Banco más cercano</b>
        <i class="material-icons">directions</i>
    </div>


    <!--
        <div id="routeResumen" class="routeResumen">
            <p>
                DISTANCIA: <a id="distace"></a>
                TIEMPO: <a id="duration"></a>
            </p>
        </div>
     -->
</nav>
<main class="map" id="mapid">
</main>
@Html.AntiForgeryToken()
<!--MARKER DRAWER-->
<aside id="markerSite" class="sidenav drawerBackground">
    <!--MARKER NAVBAR-->
    <img src="~/Content/img/CABECERA_BDB.png" style="width: 330px;" />
    <div   class="TITLEBRAND">
        <p class="titleText">NOMBRE DEL NEGOCIO</p>
    </div>
        <nav class="drawerNavigator" style="background-color: #BE1C6C">
            <i id="closeDrawer" class="material-icons">arrow_back</i>

            <p id="titleDrawer" class="titleText"></p>
            <i id="goTo" class="material-icons">directions</i>
        </nav>
        <ul class="drawerBody">
            @*<img id=localImage src="" class="imageHeader" hidden>*@
            @*<div>
            NOMBRE DEL NEGOCIO
            <p id="localName"></p>
        </div>*@
            <div>
                TIPO DE NEGOCIO
                <p id="localType"></p>
            </div>
            <!--
        <div>
            PROPIETARIO
            <p id="localOwn"></p>
        </div>

    <div>
        TELÉFONO
        <p id="localPhone"></p>
    </div>
    -->
            <div>
                DIRECCIÓN
                <p id="localDir"></p>
            </div>
            @*<div>
            PROVINCIA
            <p id="localProv"></p>
        </div>*@
            <div>
                CANTÓN
                <p id="localCity"></p>
            </div>
            <div>
                PARROQUIA
                <p id="localPar"></p>
            </div>
            <div style="display: none;">
                LATITUD
                <p id="localLat"></p>
            </div>
            <div style="display: none;">
                LONGITUD
                <p id="localLong"></p>
            </div>
            <div class="TITLEBRANDTI">
                <H6><strong>SERVICIOS</strong></H6>
            </div>
            <img src="~/Content/img/SERVICIOS_BDB.png" class="imageFooter" />
            <div style="text-align:center">
                <img src="~/Content/img/LOGO_BG.png" class="imageFooterBG" />
            </div>
        </ul>
</aside>
<!--LIST DRAWER-->
<aside id="allsites" class="sidenav">
    <nav class="navPageAll" style="background-color: #BE1C6C">
        <p>BANCOS DEL BARRIO</p>
    </nav>
    <div id="allSitesList">
        <ul id="listCollapsible" class="collapsible">
        </ul>
    </div>
</aside>
<!--
    <div style="display:none;overflow-y: auto;" class="floatSteps" id="floatSteps">
        <ul id="floatStepsBody" class="floatStepsBody">
        </ul>
    </div>

<a class="menuSteps" id="menuSteps"><i class="material-icons">directions</i></a>
-->
<div class="tooltip">
    <i id="getMyLocation" class="material-icons getMyLocation">gps_fixed</i>
    <span class="tooltiptext tooltip-left">Mi ubicación</span>
</div> 


@section scripts{

    <script src="~/Content/js/main.js"></script>
    <script>
        LoadMap();
               var isSafari = /constructor/i.test(window.HTMLElement) ||
                (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })
                (!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
        //alert(isSafari)
        function LoadMap() {
     


            var token = $("[name='__RequestVerificationToken']").val();
            $.ajax({
                url: "/Map/DataMax",
                type: 'POST',
                data: {
                    __RequestVerificationToken: token
                },
                success: function (result) {
                    permiso(result)
                }
            });
            return null;
        }
    </script>
}
