
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/mainBG.css" rel="stylesheet" />
<div id="contentRequestPermisson" class="dialogModal">
    <a id="requestPermisson" class="waves-effect waves-light btn" style="background-color:#007ACC">VER BANCOS DEL BARRIO</a>
    <div id="progressCircle" class="preloader-wrapper big active progressMap">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

@*<nav class="navPage">
        <i id="openAllSites" hidden class="material-icons">menu</i>

        <img src="~/Content/img/mardis.png" class="iconHeader" />

        <div id="getNearest" class="getNearest" style="display:flex; flex-direction:row; align-content:center; align-items:center; justify-content:space-around" hidden>
            <b class="nearestText">Banco más cercano</b>
            <i class="material-icons">directions</i>
        </div>



            <div id="routeResumen" class="routeResumen">
                <p>
                    DISTANCIA: <a id="distace"></a>
                    TIEMPO: <a id="duration"></a>
                </p>
            </div>

    </nav>*@

<main class="map" id="mapid">
    <div class="leaflet-top leaflet-right">
        <div class="leaflet-control-zoom leaflet-bar leaflet-control" style="right:30%">

            <img id="opensearch" style="display:none" src="~/Content/img/LOGO-BANCO-DE-GUAYAQUIL.jpg" width="100px" />
        </div>
    </div>
</main>
@*<footer>
    <p>Author: Hege Refsnes</p>
    <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>*@
@Html.AntiForgeryToken()
<!--MARKER DRAWER-->
<aside id="markerSite" class="sidenav drawerBackground">
    <!--MARKER NAVBAR-->
    @*<img src="~/Content/img/CABECERA_BDB.png" class="cabeceraImage" />
    <div class="TITLEBRAND">
        <p class="titleText">NOMBRE DEL NEGOCIO</p>
    </div>*@
    <nav class="drawerNavigator" style="background-color: #012244 ;    height: 146px;">
        @*<span>
            <i id="closeDrawer" class=" lbar material-icons">arrow_back</i><p style="position: inherit;top: -10px;font-size: 12px;"> Regresar</p>
        </span>*@

        <img src="~/Content/img/logo (2).png" id="bgb" style=" width: 180px;" />
        <img src="~/Content/img/Screen Shot 2020-06-18 at 3.03 1.png"  id="bbb"  style=" height: 146px; width:450px;"/>
    

        @*<span>
            <i id="goTo" class="ibar material-icons">directions</i><p style="position: inherit;top: -10px;font-size: 12px;"> Cómo llegar</p>
        </span>*@

    </nav>
    <ul class="drawerBody">
        @*<img id=localImage src="" class="imageHeader" hidden>*@
        @*<div>
            NOMBRE DEL NEGOCIO
            <p id="localName"></p>
        </div>*@

        <div>
            <p class="titleDrawerGrey" class="titleText">Dirrección</p>
            <p class="titleDrawerblue" id="localDir"></p>
            <span>
                <i id="goTo" class="ibar material-icons">directions</i><small style="position: inherit;color:#C81D6F!important;top: -10px;font-size: 12px;"> Cómo llegar</small>
            </span>
        </div>
        <div>


        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Punto de atención</p>
            <p class="titleDrawerBluesmall" id="AgType"></p>

        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Ciudad</p>
            <p class="titleDrawerBluesmall" id="localCity"></p>

        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Horarios</p>
            <p class="titleDrawerBluesmall" id="localHorarioL"></p>
            <p class="titleDrawerBluesmall" id="localHorarios"></p>
        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Tipo de Negocio</p>
            <p class="titleDrawerBluesmall" id="localType"></p>

        </div>
        <div class="serviceUl">
            <p class="titleDrawerBluetitle" class="titleText">Servicios</p>
           
            <ul>
                  <li>Depósitos</li>
                <li>Retiros</li>
                <li>Pago de bonos</li>
                <li>Cuenta Amiga</li>
                <li>Pago de tarjetas de crédito</li>
                <li> Recargas celular</li>
                <li> Recargas TV paga</li>
                <li> Pagos de servicios básicos y empresariales</li>
           
            </ul>
        </div>
        <!--
        <div>
            PROPIETARIO
            <p id="localOwn"></p>
        </div>

    <div>
        TELÉFONO
        <p id="localPhone"></p>
    </div>
    -->
        @*<div>
            PROVINCIA
            <p id="localProv"></p>
        </div>*@


        <div style="display: none;">
            LATITUD
            <p id="localLat"></p>
        </div>
        <div style="display: none;">
            LONGITUD
            <p id="localLong"></p>
        </div>
        @*<div class="TITLEBRANDTI">
            <H6><strong>SERVICIOS</strong></H6>
        </div>*@

        @*<div style="text-align:center">
            <img src="~/Content/img/LOGO_BG.png" class="imageFooterBG" />
        </div>*@
    </ul>
    <div style="text-align:center">

        
    </div>
</aside>
<!--LIST DRAWER-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<aside id="allsites" class="sidenav" style=" display:none !important">
    @*<nav class="navPageAll" style="background-color: #BE1C6C;" >
            <p> Banco Guayaquil</p>

        </nav>*@

    <div class="container">
        <h5>PUNTOS DE <strong>ATENCIÓN</strong></h5>
        <ul id="listCollapsible" class="collapsible">
        </ul>
    </div>

</aside>
<!--
    <div style="display:none;overflow-y: auto;" class="floatSteps" id="floatSteps">
        <ul id="floatStepsBody" class="floatStepsBody">
        </ul>
    </div>

<a class="menuSteps" id="menuSteps"><i class="material-icons">directions</i></a>
-->

<div class="container">

    <div class="row sidenav_bg  right-aligned" id="mapbg" name="i">
        <nav class="navPageAll">
            <div class="col s6 m6" style=" LEFT: -5%;">

                <img src="~/Content/img/logo (2).png" style=" width: 130px;" />

            </div>
            @*<div class="col s2 m2">
                <a id="idcerrar" class="leaflet-control-zoom-out" style="text-align: right;/* LEFT: 100%; */FLOAT: right;MARGIN-TOP: 5PX;" ; href="#" title="Cerrar" role="button" aria-label="Cerrar">x</a>
            </div>*@

        </nav>


        <div class="col s12 m6">
            <div>
                <div class="card-content white-text">
                    <div class="col s12 m10 ">
                        <div class="input-field">

                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Buscar punto de atención </label>

                        </div>

                    </div>
                    <div class="col s6 m2">
                        <a class="btn transparent" id="BuscarID" style="position: absolute;    top: 10px;">
                            @*<img src="~/Content/img/Path.png" style="width:25px" />*@
                            <i class="material-icons" style="color:#b7b7b7">search</i>
                        </a>

                    </div>

                </div>




            </div>


            <div class="row sidenav_bg_4 left-align" id="mapbg4" name="2">
                <div class="card-content white-text">
                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <div class="col s6 m9">

                            <strong class="text-bg3">Ver el punto más cercano</strong>

                        </div>
                        <div class="col s6 m2">

                            <a class="btn transparent" id="Miubicacion" style="position: absolute;    top: 15px;     left: 2px;">

                                <img src="~/Content/img/pin_drop_24px_outlined.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sidenav_bg_2  left-align" id="mapbg2" name="i2">
                <div class="card-content white-text">

                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <strong class="text-bg2">Puntos de atención</strong>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="bdb" checked="checked" />
                            <span class="span_check"> Bancos de barrio</span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class=" OptionService filled-in" id="mtf" checked="checked" />
                            <span class="span_check">Cajero Multifución</span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="atm" checked="checked" />
                            <span class="span_check">Cajeros </span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="agc" checked="checked" />
                            <span class="span_check">Agencia </span>
                        </label>
                    </div>

                </div>
            </div>



            <div class="row sidenav_bg_3 left-align" id="mapbg3" name="2">
                <div class="card-content white-text">
                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <div class="col s6 m9">

                            <strong class="text-bg3">Ver el punto más cercano</strong>

                        </div>
                        <div class="col s6 m2">

                            <a class="btn transparent" id="MiMore" style="position: absolute;    top: 15px;     left: 2px;">

                                <img src="~/Content/img/pin_drop_24px_outlined.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="tooltip">

                <i id="getMyLocation" class="material-icons getMyLocation">gps_fixed</i>
                <span class="tooltiptext tooltip-left">Mi ubicación</span>

            </div>



        </div>

        @section scripts{
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script src="~/Content/js/mainBancos.js"></script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>*@
            <script src="~/Content/js/dataTable.js"></script>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165708090-1"></script>

            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-165708090-1');
            </script>



            <script>
                   let mapbg1 = document.getElementById('mapbg4')
                        mapbg1.style.display = "none"
                $('#icon_prefix').keypress(function () {
                       let mapbg41 = document.getElementById('mapbg4')
                        mapbg41.style.display = "none"
                    if ($(this).val().length > 3) {
                    var list=[]
                               store.map((stores) => {

                                   var _data = stores.bancos.filter(x => x.direccion.toUpperCase().includes($(this).val().toUpperCase()) == true)
                       
                                   _data.map((items) => {
                                       list.push(items)
                                })
                            })
                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    if (list.length > 0) {

                  
                       
                        let reg = 1
                        let tam=1
                        let html=""
                        list.map((items) => {
                            if (reg < 4) {
                          
                      html +=   "    <tr   onclick= 'ir(" + items.latitud + "," + items.longitud + ")'> "+

                            '      <td colspan="2">   '+ 
                            '<div>'+
                            ' <p class="titleDrawerBluetitlet" class="titleTextt">'+items.name+'</p>'+
                            '<p class="titleDrawerBluesmallt" id="localTypet">'+items.direccion+'</p>' +
                            ' </div>'
                            + '</td>'
                            +'<td scope="row"> <p class="titleDrawergreysmallt" id="localTypet">'+items.distancia+'km</p></td>'+


                            '    </tr>'
                                tam=tam+1
                            }
                            reg=reg+1
                                     
                        })
                        let mapbg4 = document.getElementById('mapbg4')
                        let hei = 65 * tam;
                        let hei2 = (20*tam) + 260;
                        let hei3= (20*tam) + 400;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                        let mapbg2 = document.getElementById('mapbg2')
                        mapbg2.style.top = hei2+"%"
                          let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = hei3+"%"
          
                        $("#mapbg4").html('<table class="table table-borderless">' +

                            '  <tbody>'+
                            html+
                          
                            '  </tbody>'+
                            '</table>'
                             );


                    } else {
                         let mapbg4 = document.getElementById('mapbg4')
                        mapbg4.style.display = "none"

                        let mapbg2 = document.getElementById('mapbg2')
                        mapbg2.style.top = "120%"
                              let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = "260%"

                        }
                    } else {
                        let mapbg4 = document.getElementById('mapbg2')
                        mapbg4.style.top = "120%"
                              let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = "260%"

                    }

                    });
                     $('#selectProvice').change(function () {
                        let _model = StoreData.find(x => x.Provice === $(this).val());
                        $('#selectCities').children().remove();
                        $('#selectCities').append('<option value="" disabled selected>Ciudad</option>')
                        $.each(_model.Cites, function (i, item) {
                            $('#selectCities').append($('<option>', {
                                value: item.City,
                                text: item.City
                            }));
                        });

                    });
                    $('#selectCities').change(function () {

                        LoadListbank($(this).val())

                    });
                    $('#selectCities').change(function () {

                        LoadListbank($(this).val())

                    });
                    $('#Miubicacion').click(function () {

                        ReloadMap();

                    });
                   $('#MiMore').click(function () {

                       more();

                    });

                function more() {

                          var list=[]
                    store.map((stores) => {
   
                                   stores.bancos.map((items) => {
                                       list.push(items)
                                   })
                                 })
                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    let lat = 0
                    let lng=0
            
                    if (list.length > 0) {
                    ir(list[0].latitud, list[0].longitud)
                    }
                       
                }

                function checkMobile() {
                    return /Safari/.test(navigator.userAgent) && !/Chrome/.test(navigator.userAgent);
                }

                var checkDevice = checkMobile();

                if (window.location !== window.parent.location) {

                    var contentRequestPermisson = document.getElementById('contentRequestPermisson')
                    contentRequestPermisson.style.display = "flex"

                    var myLocationButton = document.getElementById('getNearest')
                    myLocationButton.style.display = "none";

                    var myLocationButton = document.getElementById('getMyLocation')
                    myLocationButton.style.display = "none";


                    document.getElementById('requestPermisson').onclick = function () {

                        if (!checkDevice) {
                            var requestPermissonButton = document.getElementById('requestPermisson')
                            requestPermissonButton.style.display = "none"
                            var progressCircle = document.getElementById('progressCircle')
                            progressCircle.style.display = "flex"
                            LoadMap();
                        } else {
                            window.open('https://bancoguayaquil.azurewebsites.net/');
                        }
                    }
                } else {

                    var contentRequestPermisson = document.getElementById('contentRequestPermisson')
                    contentRequestPermisson.style.display = "flex"

                    var requestPermissonButton = document.getElementById('requestPermisson')
                    requestPermissonButton.style.display = "none"

                    var progressCircle = document.getElementById('progressCircle')
                    progressCircle.style.display = "flex"

                    //var myLocationButton = document.getElementById('getNearest')
                    //myLocationButton.style.display = "none";

                    var myLocationButton = document.getElementById('getMyLocation')
                    myLocationButton.style.display = "none";

                    LoadCity();
                    //  LoadProvice();
                    LoadMap();
                }

                function ReloadMap() {

                    GetGeo();
                    var token = $("[name='__RequestVerificationToken']").val();
                    // let _bdb = $('#bdb').prop('checked')

                    $('#selectCities').children().remove();
                    $('#selectCities').append('<option value="" disabled selected>Ciudad</option>')
                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')
                    let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {

                            //result.map((dataResponse) => {


                            ////    dataResponse.bancos.map((bancos) => {
                            ////        var dataSet2 = []
                            ////        let data = {
                            ////            nombre: "<b style='color:#1a237e; ; font-size:12Px' onclick=" + " 'ir(" + bancos.latitud + "," + bancos.longitud + ")'" + ">" + bancos.name + "</b></br><small>" + bancos.direccion + "</small> ",
                            ////            icon: '  <img src="/Content/css/ICONO BGBG.png" style="width:25PX" />',
                            ////            dist: "</br><small style='color:grey;'>" + bancos.distancia + " Km" + "</small> "
                            ////        };

                            ////        dataSet.push(data)
                            ////        LoadCity();
                            ////    })
                            ////})

                            ////$('#table-mardis').DataTable().destroy();
                            ////$('#table-mardis').DataTable({
                            ////    "language": {
                            ////        "sEmptyTable": "Cargando datos..",
                            ////        "sInfo": "Página _PAGE_ de _PAGES_",
                            ////        "sInfoEmpty": "No existen registros",
                            ////        "sInfoFiltered": "Filtro",
                            ////        "sInfoPostFix": "",
                            ////        "sInfoThousands": ".",
                            ////        "sLengthMenu": "Mostrar _MENU_ Registros ",
                            ////        "sLoadingRecords": "Verificando..",
                            ////        "sProcessing": "Verificando..",
                            ////        "sSearch": "Buscar",
                            ////        "sZeroRecords": "No hay entradas disponibles.",
                            ////        "oPaginate": {
                            ////            "sNext": "<i class=\"fa fa-forward\"></i>",
                            ////            "sPrevious": "<i class=\"fa fa-backward\"></i>",
                            ////            "sFirst": "<i class=\"fa fa-step-backward\"></i>",
                            ////            "sLast": "<i class=\"fa fa-step-forward\"></i>"
                            ////        }

                            ////    },
                            ////    data: dataSet,
                            ////    "scrollY": "290px",
                            ////    ordering: false,

                            ////    "pageLength": 100,


                            ////    //  searching: false,
                            ////    columns: [
                            ////        { "data": "icon" },
                            ////        { "data": "nombre" },
                            ////        { "data": "dist" }

                            ////    ]


                            //});

                            //var d1 = document.getElementById('table-mardis_info');
                            //d1.innerHTML = ' <img src="/Content/css/LogoBG.png" style="width:130px" />';
                            changedata(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
                var store
                function LoadMap() {

                    GetGeo();
                    var token = $("[name='__RequestVerificationToken']").val();
                    // let _bdb = $('#bdb').prop('checked')


                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')
                    let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {
                            store = result
                            //result.map((dataResponse) => {


                            //    dataResponse.bancos.map((bancos) => {
                            //        var dataSet2 = []
                            //        let data = {
                            //            nombre: "<b style='color:#1a237e; ; font-size:12Px' onclick=" + " 'ir(" + bancos.latitud + "," + bancos.longitud + ")'" + ">" + bancos.name + "</b></br><small>" + bancos.direccion + "</small> ",
                            //            icon: '  <img src="/Content/css/ICONO BGBG.png" style="width:25PX" />',
                            //            dist: "</br><small style='color:grey;'>" + bancos.distancia + " Km" + "</small> "
                            //        };

                            //        dataSet.push(data)
                            //    })
                            //})


                            ////$('#table-mardis').DataTable({
                            ////    "language": {
                            ////        "sEmptyTable": "Cargando datos..",
                            ////        "sInfo": "Página _PAGE_ de _PAGES_",
                            ////        "sInfoEmpty": "No existen registros",
                            ////        "sInfoFiltered": "Filtro",
                            ////        "sInfoPostFix": "",
                            ////        "sInfoThousands": ".",
                            ////        "sLengthMenu": "Mostrar _MENU_ Registros ",
                            ////        "sLoadingRecords": "Verificando..",
                            ////        "sProcessing": "Verificando..",
                            ////        "sSearch": "Buscar",
                            ////        "sZeroRecords": "No hay entradas disponibles.",
                            ////        "oPaginate": {
                            ////            "sNext": "<i class=\"fa fa-forward\"></i>",
                            ////            "sPrevious": "<i class=\"fa fa-backward\"></i>",
                            ////            "sFirst": "<i class=\"fa fa-step-backward\"></i>",
                            ////            "sLast": "<i class=\"fa fa-step-forward\"></i>"
                            ////        }

                            ////    },
                            ////    data: dataSet,
                            ////    "scrollY": "290px",
                            ////    ordering: false,

                            ////    "pageLength": 100,


                            ////    //  searching: false,
                            ////    columns: [
                            ////        { "data": "icon" },
                            ////        { "data": "nombre" },
                            ////        { "data": "dist" }

                            ////    ]


                            //});

                            //var d1 = document.getElementById('table-mardis_info');
                            //d1.innerHTML = ' <img src="/Content/css/LogoBG.png" style="width:130px" />';
                            permiso(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }

                function ir(lt, lg) {
                    zoomPunto(lt, lg);
                }
                var latf;
                var lngf;
                function LoadListbank(ct) {


                    var token = $("[name='__RequestVerificationToken']").val();
                    let _bdb = document.getElementById("bdb").checked
                    let _mtf = $('#mtf').prop('checked');
                    let _agc = $('#agc').prop('checked');
                    let _atm = $('#atm').prop('checked');

                    let city = ct
                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                            city: city,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {

                            let cont = 0
                              store = result

                            changedata(result)


                        },

                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }


                function LoadProvice() {
                    var token = $("[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: "/Bancos/Provice",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token
                        },
                        success: function (result) {
                            StoreData = result
                            $.each(StoreData, function (i, item) {
                                $('#selectProvice').append($('<option>', {
                                    value: item.Provice,
                                    text: item.Provice
                                }));
                            });
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
                function LoadCity() {
                    var token = $("[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: "/Bancos/City",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token
                        },
                        success: function (result) {

                            StoreData = result
                            $.each(StoreData, function (i, item) {
                                $.each(item.Cites, function (i, item2) {

                                    $('#selectCities').append($('<option>', {
                                        value: item2.City,
                                        text: item2.City + "(" + item.Provice + ")",
                                    }));
                                });


                            });
                            //  StoreData = result

                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }

                function ReadMap() {

                    var token = $("[name='__RequestVerificationToken']").val();
                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')

                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm

                        },
                        success: function (result) {
                            changedata(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
                $(".OptionService").change(function () {
                   let mapbg1 = document.getElementById('mapbg4')
                    mapbg1.style.display = "none"

                      let mapbg4 = document.getElementById('mapbg2')
                        mapbg4.style.top = "120%"
                              let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = "260%"
                    LoadListbank($('#selectCities').val())

                })
            </script>
        }
