
@font-face {
    font-family: 'BgFont';
    src: url('fonts/NunitoSans-Regular.ttf') format('truetype');
}

    .sidenav-overlay {
    opacity: 0 !important;
}
input {
    border: none;
    background-color: transparent;
}

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/bg/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.text-bg7 {
    font-family: BgFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 250px;
    height: 38px;
    /* left: 21px; */
    left: 10px;
    top: px;
    color: #DD2780;
    padding-top: 12px;
}
.fa-user-circle-o {
    color: gray;
}
label {
    font-family: BgFont !important;
}
strong {
    font-family: BgFont !important;
}
li {
    font-family: BgFont !important;
}
span_check
{
    font-family: BgFont !important;
}
#idUSerc {
    margin-left: -7px;
    margin-right: 2px;
    padding-top: 2px;
    font-size: 10pt;
    color: #012244 !important;
    font-family: BgFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
}
.titleDrawerBluetitle {
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #012244 !important;
}

.serviceUl ul {
    column-count: 1;
}
.serviceUl li {
    font-family: BgFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #012244;
    text-decoration: underline !im;
    padding-left: 30px;
}
.table tr {
    border-bottom: none !important;
}
.table td, .table th {

    vertical-align: middle !important;

}
.titleDrawerBluetitlet {
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 15px !important;

    display: flex;
    align-items: center;
    color: #012244 !important;
}
.titleDrawerBluesmallt {
    font-family: BgFont;
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;

    display: flex;
    align-items: center;
    color: #012244 !important;
    
}
.titleDrawergreysmallt {
    font-family: BgFont;
    font-style: normal;
    font-weight: normal;
    font-size: 15px !important;

    display: flex;
    align-items: center;
    color: #C3C8CD !important;
    text-transform: capitalize;
}

.titleDrawerBluesmall {
    font-family: BgFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #012244 !important;
   
}
.sidenav_bg {
    position: fixed;
    width: 430px;
    left: 38%;
    top: 2.22%;
    -webkit-transform: translateX(-100%);
    border-radius: 8px 8px 8px 8px;
    height: 125px;
    height: -moz-calc(100%);
    /* padding-bottom: 60px; */
    background-color: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    margin-left: -12% !important;
    /* transform: translateY(20%);
    /*transform: translateY(20%);*/
}
.ibar {
    font-size: 24px !important;
    height: 0px !important;
    line-height: 0px !important;
    top: 7px !important;
    color: #C81D6F !important;
   left:2px !important ;
}
input:not([type]) + label:after, input[type=text]:not(.browser-default) + label:after, input[type=password]:not(.browser-default) + label:after, input[type=email]:not(.browser-default) + label:after, input[type=url]:not(.browser-default) + label:after, input[type=time]:not(.browser-default) + label:after, input[type=date]:not(.browser-default) + label:after, input[type=datetime]:not(.browser-default) + label:after, input[type=datetime-local]:not(.browser-default) + label:after, input[type=tel]:not(.browser-default) + label:after, input[type=number]:not(.browser-default) + label:after, input[type=search]:not(.browser-default) + label:after, textarea.materialize-textarea + label:after, .select-wrapper + label:after {
    border-bottom: none !important;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #012244    !important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff  !important;
    -webkit-box-shadow: 0 1px 0 0 #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}
.titleDrawerGrey {
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #C3C8CD !important
    ;
}
[type="checkbox"].filled-in:checked + span:not(.lever):before {
    top: -1px !important;
    left: 2px !important;
    /* bottom: 40px; */
    width: 8px !important;
    height: 13px !important;
}
.comollegar {
  
    height: 25px;
    left: 3.07%;
    right: 91.51%;
    top: calc(50% - 25px/2 - 333px);
    font-family: BgFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
   
    align-items: center;
    color: #C81D6F;
}
.input-field > label:not(.label-icon).active {
    display: none !important;
}
.table p {
    margin-bottom: 1px !important
}
.drawerBody p {
    margin-bottom: 1px !important
}

.drawerBackground {
    background-color: white !important;
}
.busBG {
    width: 320px ;
    height: 50px;
    left: 55px;
    top: 189px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px 0px 0px 10px !important;
    border-bottom: none !important;
}
    /*.busBG input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        height: 50px;
        left: 55px;
        top: 189px;
        background: #FFFFFF;
        box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.12) ;
        border-radius: 10px !important;
        border-bottom: none !important;
    }
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-radius: 0px !important;
    box-shadow: none !important;
}*/
.buscaIco {
    /* transform: translateX(1000%); */
    /* transform: translateX(1000%); */
    TOP: 170PX;
    /* transform: translateY(-300%); */
    POSITION: FIXED;
    display: inline-table;
    /* left: 99%; */
    left: 330px !important;
}
.buscaIcoX {
    TOP: 160PX;
    /* transform: translateY(-300%); */
    POSITION: FIXED;
    display: inline-table;
    /* left: 99%; */
    height: 45px;
    left: 364px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    background-color: rebeccapurple;
    border-radius: 0px 10px 10px 0px !important
}

.white-text_ban {
    margin-left: 1px !important;
}
.titleDrawerblue {
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #012244 !important;
}
.drawerNavigator {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.drawerBody {
    margin-left: 30px !important;
}
#icon_prefix {
    border-bottom: none !important;

}
.sidenav {
    width: 450px !important;
}
.sidenav_bg_2 {
    position: fixed;
    width: 430px;
    left: 118%;
    top: 120%;
    -webkit-transform: translateX(-100%);
    border-radius: 8px 8px 8px 8px;
    height: 160px;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    margin-left: -12% !important;
}
.ElipLis {
    width: 5px;
    height: 5px;

    MARGIN: 0PX 8PX;
}
.ElipLisV {
    width: 13px;
    height: 9px;
    MARGIN: 0PX 8PX;
}
.sidenav_bg_4 {
    position: fixed;
    width: 430px;
    left: 117%;
    top: 101%;
    transition: color 0.8s linear 0.2s;
    -webkit-transform: translateX(-100%);
    border-radius: 8px 8px 8px 8px;
    height: 0px;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    margin-left: -12% !important;
    padding-left: 15px;
}
.sidenav_bg_5 {
    padding-top: 5px;
    position: fixed !important;
    background: beige;
    width: 320px;
    left: 90px;
    /* top: 101%; */
    transition: color 0.8s linear 0.2s;
    /* -webkit-transform: translateX(-100%); */
    display: none;
    border-radius: 8px 8px 8px 8px;
    height: 0px;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -webkit-transform: translateX(-105%); */
    margin-left: -12% !important;
    padding-left: 15px;
    margin-bottom: 100px;
    border-bottom: 1px black;
}
    .sidenav_bg_5 table {
        background: white;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.12) !important;
    }
.sidenav_bg_3 {
    position: fixed;
    width: 430px;
    left: 118%;
    top: 260%;
    -webkit-transform: translateX(-100%);
    border-radius: 8px 8px 8px 8px;
    height: 68px;
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    margin-left: -12% !important;
    padding-left: 15px;
}



[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: #D4D7E5 !important;
    background-color: #D4D7E5 !important;
}
[type="checkbox"].filled-in:checked + span:not(.lever):before {
    border-right: 2px solid #0B0E3C !important;
    border-bottom: 2px solid #0B0E3C !important;

}
.span_check {
    position: absolute;
    width: 205px;
    height: 22px;
    left: 10px;
    top: 0px;
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: rgba(1, 34, 68, 0.8);
    display: inline-block !important;
}

    .navPageAll {
        background-color: #012244;
        border-radius: 8px 8px 0px 0px;
    }

.text-bg2 {
    color: #012244;
    font-family: BgFont;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    position: static;
}
.text-bg3 {
    font-family: BgFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    /* position: absolute; */
   width: 250px; 
    height: 68px;
    left: 21px;
    /* left: 10px; */
    top: 363px;
    color: #DD2780;

}
@media (max-width: 1600px) {
    .sidenav_bg {
        margin-left: -3% !important;
    }
}
.map {
    height: 100vh ;
}
@media (max-width: 1200px) {
    .sidenav_bg {
        margin-left: 1% !important
    }

    /*.sidenav_bg_2 {
        position: fixed;
        width: 430px;
        left: 118%;
        top: 120%;
        -webkit-transform: translateX(-100%);
        border-radius: 8px 8px 8px 8px;
        height: 152px;
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        z-index: 999;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        margin-left: -12% !important;
    }

    .sidenav_bg_4 {
        position: fixed;
        width: 430px;
        left: 117%;
        top: 101%;
        transition: color 0.8s linear 0.2s;
        -webkit-transform: translateX(-100%);
        border-radius: 8px 8px 8px 8px;
        height: 0px;
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        z-index: 999;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        margin-left: -12% !important;
        padding-left: 15px;
    }

    .sidenav_bg_3 {
        position: fixed;
        width: 430px;
        left: 118%;
        top: 260%;
        -webkit-transform: translateX(-100%);
        border-radius: 8px 8px 8px 8px;
        height: 68px;
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        z-index: 999;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
        margin-left: -12% !important;
        padding-left: 15px;
    }*/
}
@media (max-width: 1000px) {
    .sidenav_bg {
        margin-left: 10% !important;
    }
}
@media (max-width: 900px) {
    .sidenav_bg {
        margin-left: 20% !important;
    }
}

@media (max-width: 700px) {

    .sidenav_bg {
        margin-left: 30% !important;
    }
}
.footerBg{
    display:none;

}
cercano. {
    display: none;
}

.text-bg9 {
    font-family: BgFont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    width:250px;
    height: 38px;
    /* left: 21px; */
    left: 10px;
    top: px;
    color: #012244;
    padding-top: 12px;
}
.abajomenu {
display:none;
}
/*@media (max-height: 700px) {

    .map {
        height: 94vh !important;
        width: 100% !important;
    }
}*/
@media (max-width: 710px) {
    .sidenav_bg {
        position: fixed;
        width: 100%;
        left: -1%        !important ;
        top: -3px;
        -webkit-transform: none !important;
        border-radius: 1px 1px 1px 1px;
        height: 125px;
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        z-index: 999;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: none !important;
        margin-left: 1% !important;
    }
    .sidenav_bg_4 {
        width: 100%;
        margin-left: -13% !important;
    }

    .sidenav_bg_3 {
        display: none;
        width: 100%;
        margin-left: -13% !important;
    }

    .sidenav_bg_2 {
    
        width: 100%;
        margin-left: -13% !important;
    }
    
    .leaflet-control-attribution{
    display:none !important;
    }
    .footerBg {
        display: flex;
    }
    .movil-cercano {
        display: flex;
        background-color: white;
        height: 50px;
    }
    .sidenav {
     
        WIDTH: 100% !important;
    }
    /*.map {
        height: 93vh !important;
    }*/
    .mobillupa {
        text-align: right !important;
        /* top: 10px; */
        position: absolute !important;
        left: 85% !important;
    }
    .leaflet-control-zoom-in {
        display: none !important;
    }
    .leaflet-control-zoom-out {
        display: none !important;
      
    }
    .abajomenu {
        display: inherit;
    }

    .buscaIcoX {
        left: inherit !important;
    }
    .buscaIco {
        left: inherit !important;
        transform: translateX(-100%) !important;
    }
    .buscaIcoX {
        TOP: 158PX;
        /* transform: translateY(-300%); */
        POSITION: FIXED;
        display: inline-table;
        /* left: 99%; */
        height: 45px;
        left: 368px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
        background-color: rebeccapurple;
        border-radius: 0px 10px 10px 0px !important
    }
    }
    .busBG {
        width: 90% !important;
    
    }

    }   



/*@media (max-width: 500px) {
    .sidenav_bg {
        height: 720px;
        width: 400px;
        margin-left: -72% !important;
    }
}

@media (max-width: 300px) {
    .sidenav_bg {
        height: 750px;
        width: 300px;
        margin-left: -78% !important;
    }
}*/
/*@media (max-width: 500px) {
    .sidenav_bg {
        height: 720px;
        margin-left: -72% !important;
    }
}*/
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table-mardis_length {
    display: none !important;
}
#table-mardis_paginate {
    font-size: 11px
}
#selectCities {
height:35px;
}
#table-mardis_filter {
    height: 30px;
}
#table-mardis_paginate {
margin-top:11px;
}
/*#table-mardis_info {
    display: none !important;
}*/
.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #be1c6c !important;
    background: #be1c6c !important;
}

#table-mardis_filter {
    float: none !important;
    text-align: center !important;
}

.pink {
    background-color: #be1c6c !important;
    color: white !important;
}

#table-mardis_filter input {
    width: 300px;
}
/*.lever {
    background-color: #0288d1 !important;
    color: white !important;
}
   .switch label input[type=checkbox]:checked + .lever:after {
    background-color: white  !important;
}
        .switch label .lever:after {
    background-color: #F1F1F1 !important;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;;
}*/
